.course--detail{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    /* margin-top: 100px;
    padding: 0px 30px; */
}

.course--title{
    height: 500px;
}

.course--body{
    height: 400px;
    display: flex;
    flex-direction: row;
}

.course--content{

}

.course--info{

}